<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/books" routerLinkActive="active">Books</a>
      <a mat-list-item routerLink="authors" routerLinkActive="active">Authors</a>
      <a mat-list-item routerLink="posts" routerLinkActive="active">Posts</a>
      <a mat-list-item routerLink="newform" routerLinkActive="active">New Form</a>
      <a mat-list-item routerLink="table" routerLinkActive="active">Table</a>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active">Dashboard</a>
      <a mat-list-item routerLink="tree" routerLinkActive="active">Tree</a>
      <a mat-list-item routerLink="dragdrop" routerLinkActive="active">Dragdrop</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular-book</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
