<h2>{{pagetitle}} Author</h2>
<mat-card>
   <form #tempForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="example-container">
            
            <mat-form-field>
            <input matInput placeholder="Author" [(ngModel)] = "author"
                           name = "author"
                           required #spy>
            </mat-form-field>
        </div>
        <div class="example-button-row">
            <button mat-stroked-button color="primary">{{pagetitle}} Author</button>
        </div>
    </form>
</mat-card>