<mat-card>
    <span class = "spacer"></span>
  <button mat-raised-button  class = "buttonright" color="primary" routerLink="" >Add New Post</button>
  <button mat-raised-button  class = "buttonright" color="accent" (click)="saveToFire()">Save to Firebase</button>
   <p>{{success}}</p>
    <p *ngIf = "!(posts$)"> Loading..</p>
    <br><br>
    <mat-accordion >
      <mat-expansion-panel *ngFor =  "let post of posts$">
        <mat-expansion-panel-header >
         <!--  -->
            <mat-panel-title>
           {{post.title}}
          </mat-panel-title>
          
          <mat-panel-description *ngFor =  "let author of users$">
            <div *ngIf = "post.userId==author.id">    Author Name: {{author.name}}</div>
          </mat-panel-description>
          
          <button mat-button color="primary" >Edit</button>
          <button mat-button color="warn"  >Delete</button>
        </mat-expansion-panel-header>
       
        <p>{{post.body}} </p>
     </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
