<h2 >List of Authors</h2>
<button mat-raised-button color="primary" routerLink="/authorform" routerLinkActive="active">Add New Author</button>
<mat-card>
<mat-selection-list #authors_>
    <mat-list-item *ngFor="let author of authors$ | async">
        <mat-list-option>
            <div *ngIf="author.id == id ;else other">
           {{updatedname}}
           </div> 
           <ng-template #other>{{author.name}} </ng-template>
        </mat-list-option>
      
        <button mat-button color="primary" (click)='editfun(author.id)' routerLinkActive="active" >Edit</button>
        
    </mat-list-item>
  
  </mat-selection-list>
  
  <p>
    Options selected: {{authors_.selectedOptions.selected.length}}
  </p>
</mat-card>
